<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LifeDrop</title>

    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LifeDrop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @{
        var isAdmin = Context.Session.GetInt32("IsAdmin");

    }
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <i class="fas fa-droplet" style="color:rgb(134,1,1); font-size: 1.5rem;"></i>
                LifeDrop
            </a>
            <button class="navbar-toggler" onclick="toggleMenu()">☰</button>

            <ul class="navbar-menu" id="navbarMenu">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Profile", "User")">Profile</a></li>
                    <li><a href="@Url.Action("Donate", "User")">Donate</a></li>

                     @if (isAdmin==1)
                    {
                        <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard</a></li>
                    }
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                }
            </ul>
        </nav>
    </header>

    <main class="container" role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            &copy; 2025 - LifeDrop -
            <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('navbarMenu');
            menu.classList.toggle('open');
        }
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
